.Signup {
    background: linear-gradient(to right, rgb(99, 164, 195) 150px, rgba(58, 42, 146, 0.7) 100%);
    min-height: calc(100vh - 65px);

    display: grid;
    justify-content: center;
    align-items: center;

}

.signupSection {
    display: grid;
    justify-content: center;
    text-align: center;
}

.Signup form {
    display: grid;
    padding: 20px;
}

.Signup button {
    margin: 20px;
    outline: none;
    font-size: 1em;
    border-radius: 20px; 
    color: rgba(255,255,255, 1);
    background: rgb(99, 164, 195);
    color: white;
    border: none;
    padding: 10px;
}

.Signup input {
    padding: 10px;
    margin: 20px;
    font-size: 1em;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px slateblue solid;
}

.Signup h1 {
    font-weight: 100;
    color: white;
    margin-bottom: 20px;
}