.MovieItem h2 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.movie-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -200px top;
    height: 550px;
}

.inner-movie-header {
    background: linear-gradient(to right, rgb(99, 164, 195) 150px, rgba(58, 42, 146, 0.7) 100%);
    height: 550px;
    
    display: grid;
    grid-template-columns: .5fr 1fr;
    column-gap: 10px;
    align-items: center;
    color: white;
}

.inner-movie-header p {
    margin-top: 10px;
    margin-right: 80px;
}

.inner-movie-header .poster {
    margin-left: 50px;
}

.inner-movie-header .poster img {
    width: 320px;
    border-radius: 10px;
}


.like-container img {
    width: 18px;
    margin-right: 5px;
}

.movie-general {
    color: rgba(255, 255, 255,.7);
}

.movie-buttons {
    display: inline-flex;
    padding-top: 5px;
    cursor: pointer;
}

.movie-buttons div:nth-child(1) {
    margin-right: 10px;
}